//----------------------------------
// SECTION PROFILE
//----------------------------------
.section__profile {

  .footnote {
    background: transparent;
    width: 100%;
    padding: 5px;
    padding-left: 50px;
    transition: all 0.8s ease;
    position: absolute;
    bottom: 0;
    opacity: 0;

    .footnote-content {
      font-family: $secondary;
      color: $darkcyan;
      font-size: 12px;
      margin-right: 15px;
      display: block;
      padding-bottom: 5px;
      border-bottom: 1px solid $darkcyan;
    }
  }

  .img-container {
    position: absolute;
    left: -37px;

    &:hover {
      .footnote {
        bottom: -38px;
        visibility: visible;
        opacity: 1;
      }
    }

    img {
      max-width: 100%;
      height: auto;
      opacity: 0.5;
    }
  }

  .content-wrapper {
    position: relative;
  }
}

//----------------------------------
// SECTION ABOUT
//----------------------------------
.section__about {

  h1 {
    margin-top: 80px;
    margin-bottom: 5px;
    margin-left: -150px;
    line-height: 1;
  }
}

.social-links {
  li {
    display: inline-block;
    padding-right: 15px;

    a {
      color: #999;
      font-size: 1.4em;

      &:hover {
        .fa-linkedin, .fa-github, .fa-envelope { color: $social-hover; }
      }
    }
  }
}

//----------------------------------
// SECTION PORTFOLIO
//----------------------------------
.section__portfolio {
  grid-column: 1 / span 4;
  color: black;
}

.work {
	position: relative;
	transition: all 0.6s linear;
  border: 1px dashed green;

  img {
		position: relative;
	}

  .overlay {
		position: absolute;
		top: 0px;
		bottom: 0px;
		right: 0px;
		left: 0px;
		padding-top: 20px;
		opacity: 0;

    &:hover {
			opacity: 1;
		}

    h3, p {
      color: blue;
			font-family: $primary;
			padding-left: 20px;
		}

		h3 {
			font-weight: 900;
		}

		p {
			font-size: 12px;
		}
	}
}
