:root {
  --ax-delay: 0;
  --ax-staggerDelay: 200;
  --ax-duration: 300;
  --ax-timingFunction: ease;
}

// Components
// -------------------------------
.ax-stagger > * {
  transition-delay: calc(var(--ax-staggerDelay) * var(--nIndex) * 1ms);
}

* {
  & > *:nth-child(1) {
    --nIndex: 0;
  }

  & > *:nth-child(2) {
    --nIndex: 1;
  }

  & > *:nth-child(3) {
    --nIndex: 2;
  }

  & > *:nth-child(4) {
    --nIndex: 3;
  }

  & > *:nth-child(5) {
    --nIndex: 4;
  }

  & > *:nth-child(n+6) {
    --nIndex: 5;
  }

  &:not(.active) > * {
    --nIndex: 0;
  }
}

// Sequences
// -------------------------------
.ax-list {
  > * {
    transition-property: all;
    transition-delay: calc(var(--ax-delay) * 1ms);
    transition-duration: calc(var(--ax-duration) * 1ms);
    transition-timing-function: var(--ax-timingFunction);
  
    will-change: opacity;
  }

  &.ax-fade {
    & > * {
      opacity: 0;
    }

    &.active > * {
      opacity: 0;
    }
  }
}

.ax-list {
  // Fade
  &.ax-fade {
    & > * {
      opacity: 0;
    }

    &.active > * {
      opacity: 1;
    }  
  }
  
  // Fade Up
  &.ax-up {
    & > * {
      transform: translateY(10%);
    }

    &.active > * {
      transform: translateY(0);
    }
  }

  // BG Color
  &.ax-bg {
    & > * {
      background: pink;
    }

    &.active > * {
      background: yellow;
    }
  }

  &.ax-scale {
    transform: scale(0.8) translateY(10%) rotate(180deg);

    &.active {
      transform: scale(1) translateY(0) rotate(0deg);
    }
  }
}

