* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: $secondary;
  color: black;
  transition: all .4s .3s ease-in;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $playfair;
  line-height: 1.125em;
  margin: 0;
}

h1, h2 {
  font-family: $primary;
}

h1 {
  font-size: 2.5em;
  font-weight: 200;
  margin: 0 auto;
}

a, i {
  transition: all 0.5s ease;

  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

p {
  font-family: $playfair;
  font-size: 1.125em;
  font-weight: 300;
  color: $base;
  line-height: 1.5;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
