.grid-container { display: grid; }
.flex-container { display: flex; }

// -------------------------------
// SECTION
// -------------------------------
.section {
  border: 1px dashed violet;
  padding: 3.75em 0;
  @media screen and (min-width: 46.875em) {
    padding-top: 5.625em;
    padding-bottom: 5.625em;
  }
  .section {
    &:first-child:not(:only-child) {
      padding-top: 0;
    }
    &:last-child:not(:only-child) {
      padding-bottom: 0;
    }
  }
}

.section--tight {
  padding: 1.875em 0;

  @media screen and (min-width: 46.875em) {
    padding-top: 2.8125em;
    padding-bottom: 2.8125em;
  }
}

.section--p-top-only {
  padding-bottom: 0;
}

.section--p-bottom-only {
  padding-top: 0;
}

// -------------------------------
// SPACING
// -------------------------------

// Gutter Bottom
// -------------------------------
.gutter-bottom {
  margin-bottom: 30px;
}

.gutter-bottom--half {
  margin-bottom: 15px;
}

.gutter-bottom--reset {
  margin-bottom: 0 !important;
}

.gutter-bottom--mobile {
  @media screen and (max-width: 46.8125em) {
    margin-bottom: 30px;
  }
}

.gutter-bottom--tablet-down {
  @media screen and (max-width: 67.4375em) {
    margin-bottom: 30px;
  }
}

.gutter-bottom--reset--mobile {
  @media screen and (max-width: 46.8125em) {
    margin-bottom: 0 !important;
  }
}

// Gutter Top
// -------------------------------
.gutter-top {
  margin-top: 30px;
}

.gutter-top--half {
  margin-top: 15px;
}

.gutter-top--reset {
  margin-bottom: 0 !important;
}
