// @font-face {
//   font-family: 'Ferry Web Black';
//   src: url('../components/FerryWebBlack/Ferry-Black.woff2') format('woff2'),
//   url('../components/FerryWebBlack/Ferry-Black.woff') format('woff');
//   font-weight: black;
//   font-style: normal;
// }

@font-face {
  font-family: 'Ferry Black';
  src: url('../components/FerryWebBlack/FerryWeb-Black.eot');
  src: url('../components/FerryWebBlack/FerryWeb-Black.eot?') format('embedded-opentype'),
  url('../components/FerryWebBlack/Ferry-Black.woff') format('woff');
  src: url('../components/FerryWebBlack/Ferry-Black.woff2') format('woff2'),
  url('../components/FerryWebBlack/FerryWeb-Black.woff') format('woff'),
  url('../components/FerryWebBlack/FerryWeb-Black.ttf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

.ferryblack {
  font-family: 'Ferry Black';
}

// Font Weights
//----------------------------------
.fw-thin { font-weight: 100; }
.fw-extralight { font-weight: 200; }
.fw-light { font-weight: 300; }
.fw-regular { font-weight: 400; }
.fw-medium { font-weight: 500; }
.fw-semibold { font-weight: 600; }
.fw-bold { font-weight: 700; }
.fw-extrabold { font-weight: 800; }
.fw-black { font-weight: 900; }

// Heading
//----------------------------------
h1, 
.heading--1 {
  font-family: 'Ferry Black',Helvetica,sans-serif;
  text-transform: uppercase;
  font-size: 6.5em;
  letter-spacing: -0.025em;
  font-weight: 900;
  
  @media screen and (min-width: 1200px) {
    font-size: 8em;
  }
}

h2, 
.heading--2 {
  margin-bottom: 0.83333em;
  font-size: 1.5em;

  @media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
    font-size: 1.5em;
    margin-bottom: 0.83333em;
  }

  @media screen and (min-width: 67.5em) {
    font-size: 2.25em;
    margin-bottom: 0.5em;
  }
}

h3, 
.heading--3 {
  font-size: 1.25em;
  margin-bottom: 0.9em;

  @media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
    font-size: 1.25em;
    margin-bottom: 0.9em;
  }

  @media screen and (min-width: 67.5em) {
    font-size: 1.5em;
    margin-bottom: 0.83333em;
  }
}

h4, 
.heading--4 {
  margin-bottom: 1.25em;
  font-size: 1em;

  @media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
    font-size: 1em;
    margin-bottom: 1.25em;
  }
  @media screen and (min-width: 67.5em) {
    font-size: 1.125em;
    margin-bottom: 1.11111em;
  }
}

h5, 
.heading--5 {
  margin-bottom: 1.42857em;
  font-size: 0.875em;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
    font-size: 0.875em;
    margin-bottom: 1.42857em;
  }

  @media screen and (min-width: 67.5em) {
    font-size: 0.875em;
    margin-bottom: 1.42857em;
  }
}
