// -------------------------------
// Font Family
// -------------------------------
$header: 'Ferry Black', Helvetica, sans-serif;;
$primary: 'Nunito Sans', sans-serif;
$secondary: 'Playfair Display', serif;

// Font Weights
// -------------------------------
$fw-thin: 100;
$fw-extralight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

// Colors
// -------------------------------
$base: #333333;
$secondary: #919292;
$tertiary: ;
$black: #222;
$moderatecyan: #67949D;
$darkcyan: #72929f;
$darkcyangray: #47514D;
// $brown: #957856;
// $orange: #FF5B04;

$social-hover: $moderatecyan;

// Media Queries
// -------------------------------

// Small devices (landscape phones, 576px)
$screen-sm: 576px;

// Medium devices (tablets, 768px)
$screen-md: 768px;

// Large devices (desktops, 992px)
$screen-lg: 992px;

// Extra large devices (large desktops, 1200px)
$screen-xlg: 1200px;
